*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

body{
    font-size: 62.4%;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

      
    background: black;
    color: rgb(11, 48, 92);
}

.container{
    width: 100%;
    background-color: black;
    z-index: 1;
    position: fixed;
}

.box_1{
    box-sizing: border-box;
    width: 98%;
    height: 12rem;
    border-bottom: 4px solid rgb(16, 16, 16);
    border-radius: 3rem;
    background: #94BBE9;
    background: radial-gradient(circle, rgba(148, 187, 233, 1) 0%, rgba(7, 62, 156, 1) 100%);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 8px auto;
}

.box_1 .child_1 label{
    font-size: 3rem;
    color: black;
}

.box_1 .child_2{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.box_1 .child_2 input{
    width: 40rem;
    height: 6rem;
    outline: none;
    font-weight: 800;
    font-size: 3.4rem;
    border-style: none;
    border-radius: 0rem 0rem 0rem 0rem;
    padding: 0rem 1.6rem;
    box-shadow: 0 0 0.6rem 0.1rem #18487d;
    background-color: #1071e1;
    background: radial-gradient(circle, rgb(123, 183, 252) 0%, rgb(76, 120, 195) 100%);

    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.box_1 .child_2 input:hover{
    
    background: #94BBE9;
    background: radial-gradient(circle, rgba(148, 187, 233, 1) 0%, rgba(7, 62, 156, 1) 100%);
}


.box_1 .child_2 #result{
    width: 10rem;
    height: 6rem;
    outline: none;
    font-weight: 800;
    font-size: 2.2rem;
    border-style: none;
    border-radius: 0rem 1rem 1rem 0rem;
    padding: 0rem 1.6rem;
    box-shadow: 0 0 0.6rem 0.1rem #18487d;
    background-color: #1071e1;
    background: radial-gradient(circle, rgb(123, 183, 252) 0%, rgb(76, 120, 195) 100%);

    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}


.box_1 .child_2 #result:active{
    
    background: #94BBE9;
    background: radial-gradient(circle, rgb(3, 118, 249) 0%, rgba(7, 62, 156, 1) 100%);
}


.box_1 .child_2 #reset{
    width: 10rem;
    height: 6rem;
    outline: none;
    font-weight: 800;
    font-size: 2.2rem;
    border-style: none;
    border-radius: 1rem 0rem 0rem 1rem;
    padding: 0rem 1.6rem;
    box-shadow: 0 0 0.6rem 0.1rem #18487d;
    background-color: #1071e1;
    background: radial-gradient(circle, rgb(123, 183, 252) 0%, rgb(76, 120, 195) 100%);

    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}


.box_1 .child_2 #reset:active{
    
    background: #94BBE9;
    background: radial-gradient(circle, rgb(3, 118, 249) 0%, rgba(7, 62, 156, 1) 100%);
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

.box_2{
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.box_2 #head_1{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    font-size: 2.3rem;
    text-align: center;
    position: relative;
    top: 11rem;
}


@media (max-width: 1000px) {
    
.box_1 .child_2 input{
    width: 30rem;
}
}


